.signupContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;


    .signupForm {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
         box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
         width: 400px;
         

         .signupHeader {
            margin-left: 10px;
            margin-top: 10px;

            p{
                font-size: 20px;
            }
         }

         .body {
            display: flex;
            justify-content: center;

            .nameField{
                width: 100%;
                margin: 20px;
                

                .inputField {
                    width: 300px;
                }
                .errorMessage {
                    color: red;
                    font-size: 13px;
                }
            }

            .emailField{
                width: 100%;
                margin: 20px;
                

                .inputField {
                    width: 300px;
                }
                .errorMessage {
                    color: red;
                    font-size: 13px;
                }
            }

            .passwordField {
                width: 100%;
                margin: 20px;

                .inputField {
                    width: 300px;
                }
                .errorMessage {
                    color: red;
                    font-size: 13px;
                }
            }

            .button {
                margin: 20px;
                display: flex;
                justify-content: center;
            }

            .errorContainer {
                display: flex;
                justify-content: center;
                width: 100%;

                p{
                    color: red;
                    font-size: 15px;
                }

            }


            .bottom {
                display: flex;
                justify-content: center;

                p {


                    span {
                        color: red;
                        cursor: pointer;

                        &:hover{
                            color: blue;
                        }
                    }
                }
            }
         }
    }
}